<%- include("header") -%>

<div class="maintitle2">
<h1>Usuário cadastrado com sucesso</h1>
<h2>Acesse o portal no link abaixo</h2>
<form method="post">
    <button type="submit">Acessar</button>
</form>
</div>

<%- include("footer") -%>