<%- include("header") -%>

    <div class="maintitle2">
        <h1>Houve um erro com seu cadastro</h1>
        <h2>Tente novamente no botão abaixo</h2>
        <form method="post">
            <button type="submit">Cadastre novamente</button>
        </form>
    </div>

<%- include("footer") -%>