<%- include("header") -%>

    <h1>Estudantes, Professores & Funcionários</h1>

    <form method="post">
        <input type="text" name="email" />
        <input type="password" name="senha" />
        <input type="submit" name="acao" value="Acessar" />
    </form>

<%- include("footer") -%>