<%- include("header") -%>

    <h1 class="maintitle">Reserva Estudos</h1>    
    <h2 class="maintitle2">Um app para Estudantes, Professores & Funcionários da UNIFOR</h2>
    

    <form method="post" class="form-main">
        <div>
            <p>E-mail: <input type="text" name="email" placeholder="ex: ronaldo@unifor.br" /></p>
        </div>
        <div>
            <p>Senha: <input type="password" name="senha" placeholder="digite sua senha"/></p>
        </div>
        <button type="submit" name="acessar" value="acessar" class="btn-access1">Acessar</button>
        <button type="submit" name="cadastrar" value="cadastrar" class="btn-access2">Cadastre-se</button>

    </form>

<%- include("footer") -%>