<%- include("header") -%>

    <h1 class="maintitle">Estudantes, Professores & Funcionários</h1>

    <form method="post" class="form-main">
        <div>
            <p>E-mail: <input type="text" name="email" placeholder="ronaldo@unifor.br" /></p>
        </div>
        <div>
            <p>Senha: <input type="password" name="senha" placeholder="digite sua senha"/></p>
        </div>
        <button type="submit" name="acessar" value="acessar" class="btn-access">Acessar</button>
        <button type="submit" name="cadastrar" value="cadastrar" class="btn-access">Cadastre-se</button>

    </form>

<%- include("footer") -%>