<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="css/outros.css">
</head>
<body>

<div>
    <div class="background">
        <div class="container">
          <div class="screen">
            <div class="screen-header">
              <div class="screen-header-left">
                <div class="screen-header-button close"></div>
                <div class="screen-header-button maximize"></div>
                <div class="screen-header-button minimize"></div>
              </div>
              <div class="screen-header-right">
                <div class="screen-header-ellipsis"></div>
                <div class="screen-header-ellipsis"></div>
                <div class="screen-header-ellipsis"></div>
              </div>
            </div>
            <div class="screen-body">
              <div class="screen-body-item left">
                <div class="app-title">
                  <span>Quem</span>
                  <span>Somos</span>
                </div>
                <div class="app-contact">Informações : +62 81 314 928 595</div>
              </div>
              <div class="screen-body-item">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, explicabo! Necessitatibus voluptatibus aliquam temporibus. Facilis ducimus temporibus fuga ullam ab vero fugit. Suscipit autem dignissimos vitae error non vel quis.
                  <p></p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quae atque molestias autem incidunt voluptatibus rem porro dolorem distinctio necessitatibus? Hic soluta beatae sit obcaecati itaque eaque, eligendi ullam asperiores!
                </p>
              </div>
            </div>
          </div>
          <div class="credits">
            &copy; Unifor 2022
            </a>
          </div>
        </div>
      </div>
         
</div>
    
<%- include("footer") -%>